<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>انبار دیجی کالا</title>
  </head>
  <body>
    <div
      style="
        text-align: center;
        color: red;
        font-size: 30px;
        margin-top: 100px;

        /* top: 50%;
        /* left: 50%;  */
        /* position: absolute; */

        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: 400px; */
        /* border: 3px solid green; */
      "
    >
      <h1>404</h1>
      <h1>page not found</h1>
      <a href="http://localhost:3031/">home</a>
    </div>
  </body>
</html>
